**/build/
venv/
logs/
.idea/
.vscode/
*.html
__pycache__/
**/__pycache__/
.ipynb_checkpoints

scratch*
#RDSR/clinical*
src/pyskindose/example_data/RDSR/clinical*

.DS_Store
temp*
!settings_example.json
.mypy_cache/
*/pyskindose.egg*
*/*/corrections\.db

tests/corrections\.db
corrections.db

tests/manual_tests/.ipynb_checkpoints/

src/pyskindose/.ipynb_checkpoints/
