[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pydocstyle = "*"
black = "*"
sphinx-rtd-theme = "*"
ipywidgets = ">=7.5"
jupyterlab = "*"
npm = "*"
node = "*"
pylama = "*"

[packages]
pyskindose = {editable = true,path = "."}
sphinx = "*"
myst-parser = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
