@font-face {
    font-family: "Computer Modern";
    src: url("./cmunrm.ttf");
}


@font-face {
    font-family: "Computer Modern";
    src: url("./cmunbx.ttf");
    font-weight: bold;
  }

@font-face {
    font-family: "Computer Modern";
    src: url("./cmunti.ttf");
    font-style: italic;
}

style {
    bar
}


body {
    font-family: "Computer Modern";
}

h1 {
    font-family: "Computer Modern";
}

h2 {
    font-family: "Computer Modern";
}

h3 {
    font-family: "Computer Modern";
}

h4 {
    font-family: "Computer Modern";
}

h5 {
    font-family: "Computer Modern";
}

h6 {
    font-family: "Computer Modern";
}

thead {
    font-family: "Computer Modern";
}

section{
    font-family: "Computer Modern";
}

caption {
    font-family: "Computer Modern";
}

span {
    font-family: "Computer Modern";
}

/* sidebar color */

/* .wy-nav-side {
    background: #413c3c;} /*
